<div id="add-story">
  <div class="container">
    <h1>Add a story to your journal</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Overview example page</h4>
        <div class="form-row">
          <input class="form-control form-control-sm" type="text" id="title" placeholder="title" />
          <input class="form-control" rows="3" type="text" id="story" placeholder="your story" />
          <button type="button" class="btn btn-secondary btn-sm" id="submit">post</button>
        </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
