<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <!--<div class="hero-image">-->
        <!--<img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>-->
        <!--<img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>-->
        <!--<img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>-->
        <!--<img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="/images/hero-ship.png"/>-->
        <!--<img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>-->
      <!--</div>-->
      <h1 class="display-4">Your <strong>Daily Journal</strong></h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">More information</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>This is your place to write and read stories of the day</h3>
        <p>In our time <a target="_blank" href="https://sailsjs.com/about">building apps for customers</a>, we've found ourselves re-rolling some of the same key features over and over again between projects.  So we picked some of the things that kept popping up, implemented our own opinionated solutions for them, and then included it all in this free and open-source starter app.  We hope it helps you as much as it helps us!</p>
      </div>
      <div class="features text-center">
        <a class="btn btn-outline-info mt-5" href="/your-stories">View stories</a>
        <a class="btn btn-outline-info mt-5" href="/your-stories/add">Add stories</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
